/* v2.1
1/1/22
4:15pm */

@charset "UTF-8";

@font-face {
    font-family: 'chirp-normal';
    src: url('../fonts/chirp-regular-web.ttf') format('truetype');
}

@font-face {
    font-family: 'chirp-bold';
    src: url('../fonts/chirp-bold-web.ttf') format('truetype');
}

@font-face {
    font-family: 'chirp-heavy';
    src: url('../fonts/chirp-heavy-web.ttf') format('truetype');
}

@font-face {
    font-family: 'chirp-extended-heavy';
    src: url('../fonts/chirp-extended-heavy-web.ttf') format('truetype');
}

@font-face {
    font-family: 'apple-normal';
    src: url('../fonts/SF-Pro.ttf') format('truetype');
}

@font-face {
    font-family: 'apple-bold';
    src: url('../fonts/SF-Pro-Display-Bold.otf') format('opentype');
}

:root{
    --default-normal: 'chirp-normal', Helvetica, Arial, sans-serif;
    --default-heavy: 'chirp-heavy', Helvetica, Arial, sans-serif;
    --default-bold: 'chirp-bold', Helvetica, Arial, sans-serif;
    --default-plus-heavy: 'chirp-extended-heavy' ,Helvetica, Arial, sans-serif;
    --apple-normal: 'apple-normal', Helvetica, Arial, sans-serif;
    --apple-bold: 'apple-bold', Helvetica, Arial, sans-serif;
    --tt-blue: #1D9BF0;
    --tt-blue-light-hover: #1d9bf01a;
    --tt-blue-dark-hover: #148cd8;
    --default-link-gray: #0F1419;
    --white-box-hover: #0f14191a;
    --default-light-gray: #536471;
    --separator-default-gray: #eff3f4;
    --white-box-light-hover: #f7f9f9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    
}

input:focus{
        outline:none
    }

body{
    width: 100vw;
    background-color: #fff;
}

.allcontent-container{
    position: relative;
    display: flex;
}

 /* VERTICAL NAVBAR CONFIG */

header.size-container{
    width: 435px;
    height: 100%;
    display: flex;
}

header.size-container .nav-container{
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: flex-end;
}

nav.vertical{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 100%;
    padding: 0 12px;
    justify-content: space-between;
    background-color: #fff;
}

    /* LOGO */

nav.vertical .logo-icon{
    border-radius: 100px;
    width: 52px;
    height: 56px;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.vertical .logo-icon:hover{
    background-color: var(--tt-blue-light-hover);
}

.sector-1{
    display: flex;
    flex-direction: inherit;
}

nav.vertical .logo-icon img{
    width: 32px;
    height: 32px;
}

    /* NAVBAR LIST */

nav.vertical .nav-list-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    margin-top: 2px;
    margin-bottom: 4px;
}

.main-page{ 
    font-family: var(--default-bold);
}

nav.vertical .nav-list-container a{
    display: flex;
    color: var(--default-link-gray);
    font: normal 1.25rem var(--default-normal);
    padding: 16px 14px;
}

/* nav.vertical .nav-list-container .home-{
    padding-top: 12.5px;
} */

nav.vertical .nav-list-container a:hover{
    background-color: var(--white-box-hover);
    border-radius: 9999px;
}

nav.vertical .nav-list-container  a i{
    font-size: 1.5rem;
    width: 26.25px;
    height: 26.25px;
    display: inline-block;
    text-align: center;
}

nav.vertical .nav-list-container  a span{
    margin-right: 16px;
    margin-left: 20px;
    font-size: 20px;
    line-height: 24px;
}

    /* TWEET BUTTON */
    
nav.vertical .tweet-compose-link-container{
    background-color: var(--tt-blue);
    display: flex;
    width: 90%;
    height: 52px;
    margin: 16px 0;
    border-radius: 9999px; 
    transition: all .2s ease;
}

nav.vertical .tweet-compose-link-container:hover{
    background-color: var(--tt-blue-dark-hover);
}

nav.vertical .tweet-compose-link-container .text-container{
    display: flex;
    padding: 0 32px;
    color: #fff;
}

nav.vertical .tweet-compose-link-container .text-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 159.89px;
    min-height: 52px;
}

nav.vertical .tweet-compose-link-container .text-container span{
    font: bold 17px  var(--default-bold);   
    line-height: 20px;
}

    /* ACCOUNT SETTINGS */

.acc-settings-container{
    display: flex;
    cursor: pointer;
    margin: 12px 0;
    border-radius: 9999px;
    background-color: #fff;
}

nav.vertical .acc-settings-container:hover{
    background-color: var(--white-box-hover);
}

nav.vertical .acc-settings-container .acc-set-inside-container  .acc-img{
    display: flex;
    align-items: center;
}

nav.vertical .acc-settings-container .acc-set-inside-container {
    display: flex;
    width: 100%;
    padding: 12px;
}

nav.vertical .acc-settings-container .acc-set-inside-container .acc-img img{
    border-radius: 99999px;
    width: 40px;
    height: 40px;
}

nav.vertical .acc-settings-container .acc-set-inside-container .acc-namenat{
    display: flex;
    flex-direction: column;
    margin: 0 12px;
}

nav.vertical .acc-settings-container .acc-set-inside-container .acc-namenat span .name{
    font: 700 15px var(--default-normal);
    line-height: 20px;
}

nav.vertical .acc-settings-container .acc-set-inside-container .acc-namenat span .at{
    font: normal 15px var(--default-normal);
    line-height: 20px;
    color: var(--default-light-gray);
}

nav.vertical .acc-settings-container .acc-set-inside-container .dots{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.88rem;
}

    /* JS ACTION */

.acc-switcher-container.active{
    display: flex;
}

     /* POP UP CONFIG */

div.acc-switcher-container{
    position: absolute;
    display: none;
    min-width: 260px;
    max-width: 360px;
    min-height: 30px;
    max-height: 480px;
    width: 300px;
    bottom: 86px;
    left: -12px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: rgb(101 119 134 / 20%) 0px 0px 15px, rgb(101 119 134 / 15%) 0px 0px 3px 1px;
    background-color: #fff;
}

@keyframes anima{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.active .acc-switcher-p-u{
    animation: anima .4s ease-in-out;
}

div.acc-switcher-container .acc-switcher-p-u{
    display: flex;
    flex-direction: column;
    padding: 12px 0;
}

/* POP-UP ACCOUNT SETTINGS */

div.acc-switcher-container .acc-settings-container-p-u{
    display: flex;
    padding: 12px 16px;
}

div.acc-switcher-container .tospace-container{
    display: flex;
    justify-content: space-between;
}

div.acc-switcher-container .acc-img-p-u{
    margin-right: 12px;
    width: 48px;
    height: 48px;
}

div.acc-switcher-container .acc-img-p-u img{
    border-radius: 99999px;
}

div.acc-switcher-container .acc-namenat-p-u{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.acc-switcher-container .acc-namenat-p-u .name{
    font: 700 15px var(--default-bold);
    line-height: 20px;
}

div.acc-switcher-container .acc-namenat-p-u .at{
    font: normal 15px var(--default-normal);
    color: var(--default-light-gray);
}

div.acc-switcher-container .check-p-u {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

div.acc-switcher-container .check-p-u div i{
    color: var(--tt-blue);
    width: 18.75px;
    height: 18.75px;
}

    /* SEPARATOR */

div.acc-switcher-container .separator{
    background-color: var(--separator-default-gray);
    height: 1px;
}
    /* SEPARATOR */
/* POP-UP LINKS */

div.allcontent-container .acc-switcher-container a{
    font: normal 15px var(--default-normal);
    line-height: 20px;
    color: var(--default-link-gray);
    padding: 16px;
}

div.allcontent-container  .acc-switcher-container a:hover{
    background-color: var(--white-box-light-hover);
    border-radius: 16px;
}

    /* MAIN CONTENT CONFIG */

.separator1{
    width: 1px;
    height: 100wh;
    background-color: var(--separator-default-gray);
}

main.main-container {
    display: flex;
    justify-self: flex-start;
    flex-grow: 1;
}

main.main-container div.main-content{
    display: flex;
    flex-direction: column;
}

/* TOP BAR CONFIG */

.contain-topbar{
    position: sticky;
    display: flex;
    top: -0.5px;
    backface-visibility: hidden;
    height: 53px;
    width: 100%;

}

a.topbar-container{
    display: flex;
    max-width: 1000px;
    width: 100%;
    height: 53px;
    justify-content: space-between;
    padding: 0 16px;
    cursor: pointer;
    background-color: #ff5e5e;
    backdrop-filter: blur(12px);
}

a.topbar-container .pagetitle-container{
    display: flex;
    height: 100%;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
}

a.topbar-container .pagetitle-container span{
    font-size: 20px ;
    line-height: 20px;
    color: var(--default-link-gray);
}


a.topbar-container .icon-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 56px;
    min-height: 53px;
    line-height: 20px;
}

a.topbar-container .regular-icon-container{
    display: flex;
    width: 36px;
    height: 36px;
    margin-right: calc(-9px);
    transition: all .3s ease;
}

a.topbar-container .regular-icon-container:hover{
    border-radius: 9999px;
    background-color: var(--white-box-hover);
}

a.topbar-container .regular-icon-container abbr{
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
}

a.topbar-container .regular-icon-container img{
    font-size: 20px;
    color: var(--default-link-gray);
}

/* UNKNOWN LINE */
/* .unknown-line{
    display: flex;
    height: 0.188rem;
    width: 100%;
    overflow: hidden;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    flex-shrink: 0;
} */

/* TT UPDATE CONFIG */

div.control-div-ttup{
    display: flex;
    background-color: #fff;
}

div.control-div-ttup .container-cont-pd{
    display: flex;  
    position: relative;
    padding: 4px 0;
}

div.ttupdate-container{
    display: flex;
    padding: 0 16px;
}

div.container-cont-pd .ttup-logo-container{
    padding-top: 4px;
    margin-right: 12px;
}

div.container-cont-pd .ttup-logo-container img{
    width: 48px;
    height: 48px;
    border-radius: 9999px;
}

div.container-cont-pd .update-box-container{
    display: flex;
    padding-top: 4px;
    min-height: 56px;
    background-color: #fff;
    border: solid 2px transparent;
}

div.container-cont-pd .update-box{
    min-height: 28px;
    min-width: 502px;
    padding: 12px 0;
    line-height: 24px;
}

div.container-cont-pd .update-box input{
    width: 100%;
    height: 28px;
    border: none;
    font: normal 20px var(--default-normal);
    color: var(--default-link-gray);
}

div.container-cont-pd .update-box input::placeholder{
    font: normal 20px var(--default-normal);
    color: #0f141ab3;
}

div.icon-row-container{
    display: flex;
    justify-content: space-between;
    margin: 0 2px;
}

div.icon-row-container .icons-row{
    display: flex;
    margin-top: 12px;
    align-items: center;
    flex-direction: row;
}

div.icon-row-container .ttup-logo-row{
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
}

div.icon-row-container .ttup-logo-row:hover{
    background-color: rgb(29, 155, 240, 0.1);
    border-radius: 9999px;
}

div.icon-row-container  .icon-frame{
    margin-left: -8px;
}

div.icon-row-container .icons-row a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 36px;
}

div.icon-row-container .icons-row i{
    font-size: 18px;
    color: var(--tt-blue);
}

div.ttup-tweetbtn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}

div.container-cont-pd a.ttup-tweetbtn{
    display: flex;
    border-radius: 9999px;
    background-color: var(--tt-blue);
    margin-left: 12px;
    opacity: 0.5;
    cursor: default;
}

.separator3{
    display: flex;
    width: 100%;
    height: 1px;
    margin: 4px 0;
    background-color: var(--separator-default-gray);
}

/* div.ttup-tweetbtn-container a.ttup-tweetbtn:hover{
    background-color: var(--tt-blue-dark-hover);
} */

div.ttup-tweetbtn-container div{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    min-height: 36px;
    padding: 0 17px;
}

div.ttup-tweetbtn-container span {
    font: bold 15px var(--default-bold);
    line-height: 20px;
    color: #fff;
}


    /* CENTER CONTENT */

main.main-container .center-content{
    display: flex;
    width: 100%;
    max-width: 600px;
}

div.center-content .control-div-center{
    display: flex;
}

div.center-content .center-container{
    min-height: 26147px;
    background-color: #fff;
    display: block;
}

/* HARVARD BOOK */
main.main-container .center-content .p-test{
    white-space: pre;
}   
/* -------------- */


















@media (max-width: 1295px){

}
